@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.container {
  @apply px-5 md:px-10;
}

.test {
  color: #e5c07b;
  color: #9d87b9;
  color: #d19a66;
  color: #c678dd;
  color: #d4d4d4;
}
